<template name="footer">

    <footer class="content-info" role="contentinfo" id="contacts">
        <div class="container">

            <div class="row">
                <div class="col-sm-5">
                    <h5>Riot Design <small>Web &amp; Graphic Design Agency</small></h5>
                    <p>Via Jacopo Carrucci, 152  - 50053 Empoli (FI) <br>
                        +380683499357 - massage@mail.ru<br></p>
                    <!-- Put this script tag to the <head> of your page -->
                    <div id="vk_like"></div>
                </div>
            </div>

            <hr>
            <div class="sotto-footer">


                <div class="icone-social">
                    <a href="http://www.facebook.com/riotdesign.eu" target="_blank" class="icona-facebook"> </a>
                    <a href="http://twitter.com/riot_design_eu" target="_blank" class="icona-twitter"> </a>
                    <a href="http://plus.google.com/100562758917063789241/" target="_blank" class="icona-google-plus"> </a>
                    <a href="http://www.flickr.com/groups/1705479@N23/" target="_blank" class="icona-flickr"> </a>
                    <a href="http://instagram.com/riot_design" target="_blank" class="icona-instagram"> </a>
                </div>

                <p class="copyright"><a href="/en/privacy/">Privacy and legal notes</a> - © 2014 Riot Design</p>

            </div>

        </div>
    </footer>
</template>