<template name="pricing">
    <section id="prices" class="page-type bottom-arrow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-title text-center">УСЛУГИ И ЦЕНЫ</h1>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">ОБЩИЙ МАССАЖ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">АНТИЦЕЛЛЮЛИТНЫЙ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">СТОУН МАССАЖ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">МЕДОВЫЙ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>
<!---->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">БАНОЧНЫЙ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">ТАЙСКИЙ</div></div>
                                <div class="package-price"><div class="price">150 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 120 <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">СТОУН МАССАЖ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="price-package text-center clearfix animated normalize">
                                <div class="package-header"><div class="name">МЕДОВЫЙ</div></div>
                                <div class="package-price"><div class="price">70/110 грн</div></div>
                                <div class="package-features">
                                    <ul>
                                        <li>Длительность - 60(70грн)/90(110грн) <small>мин</small> </li>
                                        <li>Воротниковая зона (15 минут) 20 грн</li>
                                        <li>Шейно-грудной отдел (20 минут) 30 грн</li>
                                        <li>Поясничный отдел (20 минут) 30 грн</li>
                                        <li>Спина полностью (40 минут) 50 грн</li>
                                        <li>Руки,Ноги (15 минут) 20 грн</li>
                                        <li>Головы (15 минут) 20 грн</li>
                                    </ul>
                                </div>
                                <a class="btn border-btn white" href="#">Заказать</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>
</template>