<template name="body">
    <div class="container" style="min-height: 650px;overflow: hidden;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Всем хорошего дня и ждем в гости на массаж</h1>
                </div>
                <div class="col-lg-12">
                    <div class="row text_boxes">
                        <div class="col-lg-4 text-center" >
                            <img class="img-circle" alt="140x140" src="/img/1.jpeg" style="width: 200px; height: 200px;">
                            <h2>Виды Массажа</h2>
                            <p class="text_box">
                                Существуют различные виды массажа. Под видом понимается применение различных методик
                                для решения конкретной задачи, или массаж применяемый в отдельной группе (антицеллюлитный,
                                спортивный (подготовительный, восстановительный), детский, профилактический, гигиенический)
                            </p>
                            <p><a class="text-success" href="#" role="button">Читать полностью »</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 text-center">
                            <img class="img-circle"  alt="140x140" src="/img/2.jpg" style="width: 200px; height: 200px;">
                            <h2>Методика</h2>
                            <p class="text_box">
                                Методика массажа — совокупность приемов, воздействий, применяемых в соответствии с определенными правилами
                                (классический, испанский, финский, баночный, тайский, точечный, периостальный, медовый, стоун).
                            </p>
                            <p><a class="text-success" href="#" role="button">Читать полностью »</a></p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 text-center">
                            <img class="img-circle" alt="140x140" src="/img/3.jpeg" style="width: 200px; height: 200px;">
                            <h2>Исполнение</h2>
                            <p class="text_box">
                               По виду исполнения делится на ручной и аппаратный. По применению — общий и местный. Что касается назначения,
                            то можно подразделить на следующие виды: лечебный, гигиенический, косметический, спортивный, рефлекторный, детский,
                            а также самомассаж.
                            </p>
                            <p><a class="text-success" href="#" role="button">Читать полностью»</a></p>
                        </div><!-- /.col-lg-4 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" name="#header" title="Scroll to Top" class="scroll_to scroll_to_top"><i class="fa fa-chevron-up fa-5x"></i></a>

</template>