<template name="body">
    {{>parallaxOne}}
    <div class="container" style="min-height: 650px;overflow: hidden;">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Всем хорошего дня и ждем в гости на массаж</h1>
                </div>
                <div class="col-lg-12">
                    <div class="row text_boxes">
                        {{#each posts}}
                        <div class="col-lg-4 text-center" >
                            <img class="img-circle" alt="140x140" src="/img/1.jpeg" style="width: 200px; height: 200px;">
                            <h2>{{strip title 15}}</h2>
                            <p class="text_box">
                                {{{strip_body body}}}
                            </p>
                            <p><a class="text-success" href="{{pathFor 'post'}}" role="button">Читать полностью »</a></p>
                        </div><!-- /.col-lg-4 -->
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" name="#header" title="Scroll to Top" class="scroll_to scroll_to_top"><i class="fa fa-chevron-up fa-5x"></i></a>
    {{>parallaxTwo}}
    <hr>
    {{>pricing}}
    <hr>
    {{>footer}}
</template>