<template name="left_menu">
    <!-- body has the class "cbp-spmenu-push" -->
    <nav class="left_menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3 class="text-right"><i class="fa fa fa-dedent fa-3x" id="hideLeft"></i></h3>
        <a href="{{pathFor 'newPost'}}" class="btn border-btn white"><i class="icon-dashboard"></i>
            <span>Добавить Пост</span>
        </a>
        <a href="/posts" class="btn border-btn white">
            <i class="icon-list-alt"></i>
            <span>Все посты</span>
        </a>
        <a href="/header" class="btn border-btn white">
            <i class="icon-facetime-video"></i>
            <span>Header</span>
        </a>
        <a href="/pages" class="btn border-btn white">
            <i class="icon-bar-chart"></i>
            <span>Pages</span>
        </a>
        <a href="/posts" class="btn border-btn white">
            <i class="icon-edit"></i>
            <span>Posts</span>
        </a>
        <a href="javascript:;" class="btn border-btn white show_drop_menu">
            <span>Constructor</span>
            <i class="icon-long-arrow-down"></i>
        </a>
        <nav class="drop_menu">
            <a href="/sidebar">Sidebar</a>
        </nav>
    </nav>
    <a href="javascript:;" title="Показать Меню" id="showLeft"><i class="fa fa-th-large fa-5x"></i></a>
</template>